.restaurant-page-create {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
  gap: 200px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
}

.restaurant-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 2px black solid;
  border-radius: 20px;
  background-color: #7BBE3B;
  padding: 40px;
  gap: 10px;
}

.restaurant-title-form {
  color: black;
  font-size: 30px;
}

.input-area {
  height: 40px;
  border-radius: 20px;
}

.restaurant-errors {
  color: red;
  font-weight: 800;
}

.res-logo {
  width: 700px;
  min-width: 700px;
  object-fit: contain;
}

.column-styles {
  width: 100%;
  display: flex;
  text-align: start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
.column-styles > p {
  width: 25%;
}

.column-styles > input {
  width: 50%;
  align-self: center;
}
.column-styles > select {
  width: 50%;
}
.restaurant-submit {
  width: 80px;
  border-radius: 20px;
}
.column-styles > label {
  width: 50%;
  align-self: center;
}

.type-selector {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.type-selector > label {
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  font-size: small;
  cursor: pointer;
}
.type-selector > label:hover {
  text-decoration: underline;
}
