.restaurant-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}


.restaurant-image {
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  left: 360px;
  top: 270px;
  border: 2px white solid;
  /* height: auto; */
  object-fit: fill;
}

/* .restaurant-details {
  width: ;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.restaurant-details-header-container {
  margin-top: 15px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.banner-image-container {
  height: 250px;
  width: 1200px;
  border-radius: 12px;
}
.banner-image {
  height: 250px;
  width: 1200px;
  object-fit: cover;
  object-position:15% 50%;
  border-radius: 12px;
}
.restaurant-name {
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.restaurantRating {
  font-size: medium;
  /* color: gray; */
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 0px;
}

.reviews-header-container {
  width: 1200px;
}

.reviews-header-container h1 {
  margin-bottom: 2px;
}

.restaurantDetails {
  width: 1200px;
}

.reviews-Container {
  display: flex;
  width: 50vw;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  /* margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px; */
  padding-top: 10px;
}

.review-details-footer {
  padding: 0px;
  display: flex;
  gap: 5px;
  max-height: 50px;
  overflow: hidden;
}
.review-text {
  font-size: smaller;

}

h4 {
  font-weight: 400;
  color: darkslategray;
  margin-top: 0px;
}

.review-Card {
  display: flex;
  background-color: lightgreen;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-radius: 10px;
  width: 250px;
  height: 120px;
  /* gap: 20px; */
  padding: 5px;
}

.review-total {
  display: flex;
  background-color: lightgreen;
  /* justify-content: space-between;? */
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
  padding: 15px;
}

.star {
  width: 28px;
  height: 20px;
  padding-top: 15px;
}

.rating {
  display: flex;
  gap: 1px;
}

.name-review {
  font-weight: bold;
}

.description-review {
  color: rgb(98, 94, 94);
  margin-top: 0px;
}

.menuItemsContainer {
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
  gap: 30px;
  /* margin-left: 20px; */
  /* margin-bottom: 10px; */
  /* margin-right: 20px; */
}



/* .menuItemCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  gap: 10px;
  padding: 15px;
} */
.menuItemCard {
  width: 20vw;
  margin-left: 0px;
  display: flex;
  height: 150px;
  justify-content: space-between;
  flex-direction: row;
  /* flex-wrap: wrap; */
  border-radius: 20px;
  border: 1px lightgray solid;
  padding: 15px;
}

@media only screen and (max-width:1020px) {
  .menuItemCard {
    width: 500px;
  }
}

.menu-item-card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 72%;
}

.menu-item-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.name-item {
  font-size: larger;
  margin-bottom: 4px;
  margin-top: 0px;
}

.price-item {
  font-weight: 400;
  color: darkslategray;
  margin-top: 0px;
}

.itemImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px lightgray solid;
}

.itemImage:hover {
  cursor: pointer;
}

.add-button {
  position: relative;
  right: -110px;
  top: -45px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: black 1px solid;
}

.add-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.restaurant-details-container button {
  background-color: darkslategray;
  color: white;
  font-size: medium;
  padding: 10px 24px;
}

.name-item {
  font-weight: bold;
}

.add-to-cart {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(211, 209, 209);
  color: black;
  font-size: 12px;
  height: 40px;
  width: 150px;
}

button {
  cursor: pointer;
}

.edit-button {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(211, 209, 209);
  color: black;
  font-size: 12px;
  height: 40px;
  width: 80px;
}

.delete-button {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(211, 209, 209);
  color: black;
  font-size: 12px;
  height: 40px;
  width: 80px;
}

.ManageMenuItem {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ManageRestaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 100px;
}

.add-item {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(211, 209, 209);
  color: black;
  font-size: 12px;
}
