.restaurant-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.restaurant-image-container {
  display: flex;
  justify-content: center;
  height: 12vw;
  width: 70vw;
}

.restaurant-image {
  width: 50%;
  /* height: auto; */
  object-fit: contain;
}

/* .restaurant-details {
  width: ;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.restaurant-name {
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.restaurantRating {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 0px;
}

.reviews-header-container {
  width: 50vw;
}

.reviews-header-container h1 {
  margin-bottom: 2px;
}

.restaurantDetails {
  width: 50vw;
}

.reviews-Container {
  display: flex;
  width: 50vw;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  /* margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px; */
  padding-top: 10px;
}

h4 {
  font-weight: 400;
  color: darkslategray;
  margin-top: 0px;
}

.review-Card {
  display: flex;
  background-color: lightgreen;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
  gap: 10px;
  padding: 15px;
}

.star {
  width: 28px;
  height: 20px;
  padding-top: 15px;
}

.rating {
  display: flex;
}

.name-review {
  font-weight: bold;
}

.description-review {
  color: rgb(98, 94, 94);
}

.menuItemsContainer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 30px;
  /* margin-left: 20px; */
  /* margin-bottom: 10px; */
  /* margin-right: 20px; */
}



/* .menuItemCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  gap: 10px;
  padding: 15px;
} */
.menuItemCard {
  width: 50vw;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 1px lightgray solid;
  padding: 15px;
}

@media only screen and (max-width:1020px) {
  .menuItemCard {
    width: 500px;
  }
}

.menu-item-card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 72%;
}

.menu-item-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.name-item {
  font-size: larger;
  margin-bottom: 4px;
  margin-top: 0px;
}

.price-item {
  font-weight: 400;
  color: darkslategray;
  margin-top: 0px;
}

.itemImage {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  border: 1px lightgray solid;
}

.restaurant-details-container button {
  background-color: darkslategray;
  color: white;
  font-size: medium;
  padding: 10px 24px;
}

.name-item {
  font-weight: bold;
}

.add-to-cart {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(211, 209, 209);
  color: black;
  font-size: 12px;
  height: 40px;
  width: 150px;
}

button {
  cursor: pointer;
}

.edit-button {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(211, 209, 209);
  color: black;
  font-size: 12px;
  height: 40px;
  width: 80px;
}

.ManageMenuItem {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ManageRestaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 100px;
}

.add-item {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(211, 209, 209);
  color: black;
  font-size: 12px;
}
