* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.orderCard {
  display: flex;
  border-top: 2px solid grey;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.order-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px;
}

.order-img {
  max-width: 300px;
  max-height: 225px;
  min-width: 300px;
  min-height: 225px;
  border-radius: 20px;
}

.order-button {
  height: 60px;
  width: 200px;
  margin: 20px;
  border-radius: 7px;
  font-size: 20px;
  color: white;
  background-color: black;
}

.review-img{
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 70px;
  margin: 20px;
}

.reviewCard {
  display: flex;
  border-top: 2px solid grey;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  height: fit-content;
}

.reviewContent {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-around;
}
