.footer {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #7BBE3B;
    height: 65px;
    align-items: center;
    border: 2px solid #7BBE3B;
    margin-top: 20vh;
}

.footer>div {
    display: flex;
    gap: 5px;
}

.footer>div>* {
    text-decoration: none;
    color: black;
}
