.sign-up-modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.sign-up-logo {
  display: flex;
  justify-content: center;
}

.sign-up-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0px 20px;
}

.email-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUpTextInput {
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  width: 180px;
}

.name-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-password-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-form>button {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
  z-index: 1;
  color: white;
  font-size: large;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  border: none;
  background-color: black;
}

.sign-up-errors {
  margin: 0;
  display: flex;
  font-weight: 500;
  justify-content: center;
  color: red;
}

.modalButton:hover {
  background-color: #282828;
}
