.log-in-modal {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 3px solid black;
}

.log-in-logo {
  display: flex;
  justify-content: center;
}

.log-in-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.email-area {
  display: flex;
  justify-content: space-between;
}

.passtime {
  display: flex;
  justify-content: space-between;
}

.log-in-form > button {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
  z-index: 1;
  color: white;
  font-size: large;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.demo-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  font-size: large;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  border: none;
  background-color: black;
}

.login-errors {
  display: flex;
  margin: 0;
  font-weight: normal;
  justify-content: center;
  color: red;
}
