.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

.cart-dropdown {
  right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-logo {
  width: 250px;
  height: 85px;
}

.left-side-nav-bar {
  display: flex;
  justify-content: space-evenly;
  gap: 200px;
}

.right-side-nav-bar {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
