.nav-bar {
  display: flex;
  height: 64px;
  align-items: center;
  text-align: center;
  padding: 0px 40px;
  position: sticky;
  margin: 0 auto;
  top: 0px;
  background-color: white;
  gap: 16px;
  z-index: 1001;
}

.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 50px;
  padding-top: 1%;
  background-color: lightgreen;
  gap: 10px;
  padding-left: 2%;
  padding-right: 2%;
  width: 15%;
  font-size: x-large;
}

.profile-item {
  display: flex;
  padding-left: 10px;
}

.profile-item>button {
  font-size: large;
  background: none;
  border: none;
  margin-left: 5px;
}

.logout {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-info-container {
  display: flex;
  align-items: center;
}

.user-info-container>svg {
  font-size: xxx-large;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  font-weight: bold;
}

.cart-dropdown {
  position: absolute;
  width: 250px;
  top: 50px;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: lightgreen;
  gap: 10px;
  padding: 0;
  font-size: large;
}

.cart-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.close-cart {
  border-radius: 50%;
  padding: 5%;
}

.close-cart:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.cart-content>h4 {
  margin: 0;
  font-size: large;
}

.wallet-info {
  display: flex;
  align-self: center;
  gap: 10px;
  margin-right: 10px;
}

.cart-content {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
  margin-top: 5%;
  gap: 5px;
}

.cart-item {
  font-size: large;
  font-weight: normal;
}

.total-price {
  margin: 10% 0;
  text-align: right;
  font-weight: bold;
}

.cart-content>li {
  width: 100%;
}

.cart-content>li>button {
  font-size: large;
  width: 100%;
  margin-bottom: 5%;
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 10px 5px;
}

.landing-logo {
  height: 22px;
}

.left-side-nav-bar {
  display: flex;
  align-items: center;
  min-width: 350px;
  width: 20%;
}

.address-bar {
  margin-left: 36px;
  margin-right: 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.address-bar > button{
  height: 36px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: transparent;
  border: none;
}

.main-logo {
  width: 20%;
  margin: 0 8px;
}

.right-side-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  gap: 16px;
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media only screen and (max-width: 1110px) {
  .cart-button {
    display: none;
  }
} */

.cart-button>button {
  display: flex;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  z-index: 1;
  color: white;
  font-size: x-large;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  border: none;
  background-color: black;
}

.cart-button>button>span {
  font-size: small;
  margin-left: 5px;
}

.delivery-pickup {
  display: flex;
  height: 45px;
  width: 200px;
  border-radius: 23px;
  background-color: lightgray;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
}

@media only screen and (max-width: 1190px) {
  .delivery-pickup {
    display: none;
  }
}

.button-pickup {
  height: 40px;
  width: 80px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
}

.button-delivery {
  height: 40px;
  width: 80px;
  border-radius: 20px;
  border: none;
  background-color: white;
}
