.profilebutton {
  height: 48px;
  color: black;
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: last baseline;
  font-size: 36px;
  text-align: center;
}

.burger-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid black; */
}

ul {
  list-style-type: none;
}
