.profilebutton {
  height: 40px;
  color: black;
  width: 40px;
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none
}

.three-lines {
  width: 20px;
  height: 20px;
}

.burger-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid black; */
}

ul {
  list-style-type: none;
}
